aiohttp==3.10.5
asyncpg-stubs==0.29.1
asyncpg==0.29.0
bleach==6.1.0
python-multipart==0.0.9
pyyaml==6.0.1
starlette_plus @ git+https://github.com/PythonistaGuild/StarlettePlus.git@f21169a
uvicorn==0.29.0